.dictionary-wrap {
    margin: 20px auto;
}

.box-wrap {
    margin-top: 5px;
    display: flex;
    align-self: start;
}

.dictionary-box{
    resize: none;
}

.label-wrap {
    display: flex;
}

.label1 {
    width: 54%;
}

.keyboard-base {
    margin-top: 10px;
    align-self: center;
}